# M5Stack StickS3: ESP32-S3-PICO-1-N8R8, 8 MB flash, 8 MB PSRAM.
# CONFIG_PICO_FIDO2_M5_DISPLAY_STATUS is not set
# CONFIG_ESPTOOLPY_FLASHSIZE_4MB is not set
CONFIG_ESPTOOLPY_FLASHSIZE_8MB=y
CONFIG_SPIRAM=y
CONFIG_SPIRAM_MODE_OCT=y
CONFIG_SPIRAM_SPEED_80M=y
CONFIG_SPIRAM_USE_MALLOC=y
