# M5Stack Cardputer-Adv: ESP32-S3FN8, 8 MB flash, no PSRAM.
# CONFIG_PICO_FIDO2_M5_DISPLAY_STATUS is not set
# CONFIG_ESPTOOLPY_FLASHSIZE_4MB is not set
CONFIG_ESPTOOLPY_FLASHSIZE_8MB=y
# CONFIG_SPIRAM is not set
